# Compiled Code #
##################
build/**
*.class
*.dll
*.exe



# Javadoc #
###########
docs/**


# Compiled Jar Files #
######################
jars/**
MANIFEST.MF
build.num

#project settings #
###################
*.project**
*.settings**
#any launch configuration for eclipse#
######################################
**.launch
