# Compiled Code #
##################
build/**



# Javadoc #
###########
docs/**


# Compiled Jar Files #
######################
jars/**
MANIFEST.MF
build.num

#project settings #
###################
*.settings**
#any launch configuration for eclipse#
######################################
**.launch
/target/
